svg {
    color: black;
    position: relative;
    margin:  auto;
    width: 100%;
}

a {
    height: inherit;
}

@media (max-width: 1000px) {
    svg {
        margin-top: .7em;
    }
}

@media (max-width: 300px) {
    svg{
        position: relative;
        height: 100%;
        width: 100%;
        transform: scale(0.5);
        overflow-x: hidden;
    }

}