/* Colors */
:root {
    /* LIGHT THEME COLORS */
    --codey-logo: #232224;
    --codey-page-bg: linear-gradient(to right bottom, #75e7e2, #61dcfe, #87caff, #bfb3fc, #e99bd5);
    --codey-element-bg: #685e79;
    --codey-text: #000000;
    --codey-contrast-text: #ffffff;
    --codey-secondary-text: #70757a;
    --codey-result-bg: #ffffff;
    --codey-result-title: #1967d2;
    --codey-result-url: #0d652d;
    --codey-result-visited: #4b11a8;
    --codey-divider: #dfe1e5;

    /* DARK THEME COLORS */
    --codey-dark-logo: #888888;
    --codey-dark-page-bg: #080808;
    --codey-dark-element-bg: #111111;
    --codey-dark-text: #dddddd;
    --codey-dark-contrast-text: #aaaaaa;
    --codey-dark-secondary-text: #8a8b8c;
    --codey-dark-result-bg: #111111;
    --codey-dark-result-title: #dddddd;
    --codey-dark-result-url: #eceff4;
    --codey-dark-result-visited: #959595;
    --codey-dark-divider: #111111;
}
